
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBox{
    position: relative;
    width: 50%;
    height: 100%;

}

section .imgBox:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    /*background: linear-gradient(225deg,#00520ccd,#03a9f4);*/
    z-index: 1;
    mix-blend-mode: screen;

}
section .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*-- style form */
section .content_box{
    background:  #30148b;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;


}


section .content_box .form{
    background: #d88a8a;
    width: 20%;
}


section .content_box .form_bx{
    margin-bottom: 20px;
    
}

section .content_box .form_bx .input_bx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

}

section .content_box .form_bx .input_bx input{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    width:70%;
    padding: 10px 20px;
    outline: none;
    font-weight: 40;
    letter-spacing: 1px;
    color: #0c1931;
    background: #fff;
    border-radius: 200px;


}

section .content_box .form_bx .input_bx input[type="submit"]{
    background: #f3f3f3;
    color: black;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;


}

section .content_box .form_bx .input_bx input[type="submit"]:hover{
    background: #36f5a2;
}

section .content_box .form_bx .input_bx p{
    color:#ffffff;
    margin-left: 120px;
}

section .content_box .form_bx .input_bx p a{
    color: #ffffff;
}


@media (max-width: 768px){
    section .imgBox {
    position: absolute;
    /* position: relative; */
    width: 100%;
    height: 100%;
    left: 0;
    }
    section .content_box {
        display: flex;
        width: 100%;
        height: 100%;
        /* justify-content: center; */
        z-index: 1;
        /* CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX; */
        justify-content: center;
        align-items: center;
    }
}

h3 {
    align-items:center;
    margin-left: 120px;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
